<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>calculator home</h1>
    <a href="{%url 'calc-add'%}">Addition</a><br>
    <a href="{%url 'calc-sub'%}">Substraction</a><br>
    <a href="{%url 'calc-multi'%}">Multiplication</a><br>
    <a href="{%url 'calc-fact'%}">Factorial</a><br>
    <a href="{%url 'calc-div'%}">division</a><br>
    <a href="{%url 'calc-prime'%}">Prime</a><br>
    <a href="{%url 'calc-wordcount'%}">Wordcount</a><br>
</body>
</html>